.default-area {

  padding: 10px;

  &__title {
    font-weight: 500;
    padding-bottom: 4px;
  }

  &__input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    //width: 100%;
    font-size: 18px;
    padding: 5px;
    resize: none;
  }
}