.edit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid #4F48A6;
  color: #4F48A6;
  cursor: pointer;

  transition: all ease 0.5s;
  &__title {
    padding-left: 6px;
  }

  &:hover {
    background: #4F48A6;
    color: #ffffff;
  }
}