.schedule-item {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  transition: all ease 0.2s;
  cursor: pointer;
  margin: 2px;

  &:hover {
    background: #C3B7FF;
    border: 1px solid #C3B7FF;
  }
  &.active {
    background: #C3B7FF;
    border: 1px solid #C3B7FF;
  }

}
